// Color
$primary-color: #1f2039;
$game-primary: #da9d20;
$game-secondary: #a5b4fc;
$game-tertiary: #aa1e1e;

// Fonts
$font-family-primary: "SF-Mono", Verdana, Geneva, Tahoma, sans-serif;
$font-primary-color: #ffffff;
$font-secondary-color: #000000;
