// Color
$primary-color: #3f3f3f;
$secondary-color: #da9d20;
$game-primary: white;
$game-secondary: #a5b4fc;
$game-tertiary: #da9d20;

// Fonts
$font-family-primary: "SF-Mono", Verdana, Geneva, Tahoma, sans-serif;
$font-primary-color: #ffffff;
$font-secondary-color: #a5b4fc;
$font-tertiary-color: #da9d20;
