/* Buttons */
.btn {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
  font-family: "SF-Mono", "Courier New", Courier, monospace;
}

.btn-primary {
  width: 150px;
  background-color: $game-primary;
}

.btn-secondary {
  width: 250px;
  border: $game-primary solid 1px;
  color: $game-primary;
}

.btn-secondary:hover {
  background: rgb(218, 157, 32, 0.2);
}

.btn-grow:hover {
  scale: 1.1;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.btn-reduce:hover {
  scale: 0.9;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.btn-reduce:hover ~ #double-btn {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.input {
  width: 150px;
  margin: 0.5rem;
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
}
